.section {
  background-color: white;
  margin: 10px auto;
  box-shadow: 0 0 5px #ddd;
}

.section__header {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  font-size: 20px;
}

.section__body {
  padding: 20px;
}

.section__tasksList {
  background-color: white;
  margin: 10px auto;
  box-shadow: 0 0 5px #ddd;
}